.p-4
    h4.fst-italic Elsewhere
    ol.list-unstyled
        li
            a(href='https://github.com/Tabitht') GitHub
        li
            a(href='https://x.com/ITabitha3661?t=AInCSQxvUREXDQK1QOrGcQ&S=09') Twitter
        li
            a(href='https://www.linkedin.com/in/imafidon-tabitha-b353a1232?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app') LinkedIn 